
<footer class="footer position-absolute bottom-2 py-2 w-100">
  <div class="container">
    <div class=" row">
      <div class="col-12 text-center">
        <p class="text-white my-1 text-sm font-weight-normal">
          &copy; <span class="font-weight-bold">Alazhar Shamshuddin</span>;
          Built using project templates seeded by
          <a href="https://appseed.us" class="font-weight-bold text-white" target="_blank">AppSeed</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
