{% extends "layouts/base.html" %}

{% block title %} Order Food! {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% macro with_errors(field) %}
  <div class="input-group input-group-static mb-4 px-4">
    <label>{{ field.label }}</label>
    {% if field.errors %}
      {% set css_class = 'form-control is-invalid ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, **kwargs) }}
      <div class="invalid-feedback">
        {% for error in field.errors %}
          {{ error|e }}
        {% endfor %}
      </div>
    {% else %}
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, **kwargs) }}
    {% endif %}
  </div>
{% endmacro %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <div class="page-header min-vh-75" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Let's get you fed!</h1>
            <h3 class="text-white"><em>Telus</em> what you want... </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="row">
          <div class="col">
            <div id="step01">
              <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                <h4 class="text-white text-primary mb-0">
                  Delivery or Pickup?
                </h4>
              </div>
              <div class="row">
                {% for subfield in form.delivery_pickup %}
                  <div class="form-check col-md-1 ps-md-2 mt-4 mx-4">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="custom-control-label") }}
                  </div>
                  <div class="invalid-feedback">error</div>
                {% endfor %}
                {% if form.delivery_pickup.errors %}
                  <div class="input-group mb-4 px-4">
                    <div class="form-control is-invalid" style="display: none"></div>
                    <div class="invalid-feedback">
                      {% for error in form.delivery_pickup.errors %}
                        {{ error|e }}
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="mt-4 px-4"></div>
                {% endif %}
              </div>
            </div>

            <div id="step02">
              <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                <h4 class="text-white text-primary mb-0">
                  How can we reach you?
                </h4>
              </div>
              <div class="row">
                <div class="mt-4"></div>
                {{ with_errors(form.email, type="email", placeholder='you@domain.com') }}
                {{ with_errors(form.phone, type="tel", placeholder='555-555-5555') }}
                {{ with_errors(form.address, type="text", placeholder="123 Main Street, Vancouver, BC V1V 1V1")}}
              </div>
            </div>

            <div id="step03">
              <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                <h4 class="text-white text-primary mb-0">
                  When do you want your food?
                </h4>
              </div>
              <div class="row">
                <div class="mt-4"></div>
                {{ with_errors(form.requested_at, type="datetime-local") }}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="step04">
              <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                <h4 class="text-white text-primary mb-0">
                  What do you want to eat?
                </h4>
              </div>
              <div class="row">
                {% for subfield in form.item %}
                  <div class="form-check col-md-1 ps-md-2 mt-4 mx-4">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="custom-control-label") }}
                  </div>
                  <div class="invalid-feedback">error</div>
                {% endfor %}
                {% if form.item.errors %}
                  <div class="input-group mb-4 px-4">
                    <div class="form-control is-invalid" style="display: none"></div>
                    <div class="invalid-feedback">
                      {% for error in form.item.errors %}
                        {{ error|e }}
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="mt-4 px-4"></div>
                {% endif %}
              </div>
            </div>

            <div id="step05">
              <div class="bg-gradient-secondary shadow-secondary border-radius-lg p-3">
                <h4 class="text-white text-primary mb-0">
                  What toppings do you want?
                </h4>
              </div>
              <div class="row" id="pizzaToppings">
                {% for topping in form.pizza_toppings %}
                  <div class="form-check col-md-1 ps-md-2 my-4 mx-4">
                    {{ topping(class="form-check-input") }}
                    {{ topping.label(class='form-check-label')}}
                  </div>
                {% endfor %}
              </div>
              <div class="row" id="sandwichToppings">
                {% for topping in form.sandwich_toppings %}
                  <div class="form-check col-md-1 ps-md-2 my-4 mx-4">
                    {{ topping(class="form-check-input") }}
                    {{ topping.label(class='form-check-label')}}
                  </div>
                {% endfor %}
              </div>
            </div>

            <div id="step06">
              <div class="col-xs-12 text-center my-5">
                <button class="btn btn-icon btn-2 btn-outline-secondary" type="button" id="addItemToOrderButton">
                    Add Item to Order
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <a class="btn btn-icon btn-3 bg-gradient-secondary" href="/" role="button"><i class="material-icons">close</i></a>
            <button type="submit" name="order" class="btn btn-icon bg-gradient-secondary">
              Submit Order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    // Hide the address field on load by default.  We will subsequently
    // show it if the delivery option is selected.
    $('#address').prop('required', false)
    $('#address').parent().hide();

    // Trigger a change when when the radio buttons for delivery/pickup are
    // clicked.
    $('#step01').on('click',function() {
      $('input[type=radio]', this).trigger('change');
    });

    // Hide Step 05 (the selection of toppings) until the food product
    // is selected.
    $('#step05').hide();
    $('#pizzaToppings').hide();
    $('#sandwichToppings').hide();

    // Map deliver-pickup radio option IDs for easy reference.
    let deliveryRadioOption = '#delivery_pickup-0';
    let pickupRadioOption = '#delivery_pickup-1';

    // Process changes to the two sets of radio buttons:
    //   1. Ask for the delivery address if delivery is selected.
    //   2. Show toppings for the selected food product.
    $('input[type=radio]').on('change', function() {
      if ($(deliveryRadioOption).is(':checked')) {
        $('#address').prop('required', true)
        $('#address').parent().show();
      }
      else if ($(pickupRadioOption).is(':checked')) {
        $('#address').prop('required', false)
        $('#address').parent().hide();
      }

      let pizzaRadioOption = '#item-0';
      let sandwichRadioOption = '#item-1';
      if ($(pizzaRadioOption).is(':checked')) {
        $('#pizzaToppings').show();
        $('#sandwichToppings').hide();
        $('#step05 h4').html('What toppings do you want on your pizza?');
        $('#step05').show();
      }
      else if ($(sandwichRadioOption).is(':checked')) {
        $('#pizzaToppings').hide();
        $('#sandwichToppings').show();
        $('#step05 h4').html('What toppings do you want on your sandwich?');
        $('#step05').show();
      }
    });

    // Allow only 3 toppings to be selected for each food product.
    let maxToppings = 3;

    $('input[type=checkbox]').on('change', function () {
      if ($('#pizzaToppings input[type=checkbox]:checked').length > maxToppings ||
          $('#sandwichToppings input[type=checkbox]:checked').length > maxToppings) {
          $(this).prop('checked', false);
          alert('Please choose a maximum of ' + maxToppings + ' toppings.');
      }
    });

    $('#addItemToOrderButton').on('click', function() {
      alert('Sorry, this features has yet to be implemented.');
    });

    // Simulate a change in case the food radio buttons get pre-selected via
    // query parameters.
    $('input[type=radio]').trigger('change');
  });
</script>
{% endblock javascripts %}
