{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

{% block body_class %} profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% macro with_errors(field) %}
  <div class="col-md-12 ps-md-2">
    <div class="input-group input-group-static mb-4">
      <label>{{ field.label }}</label>
      {% if field.errors %}
        {% set css_class = 'form-control is-invalid ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error|e }}
          {% endfor %}
        </div>
      {% else %}
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/static/assets/img/illustrations/illustration-signin.jpg'); background-size: cover;" loading="lazy"></div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0">
                    {% if form.full_name.data %}
                      Your Profile, {{ form.full_name.data }}
                    {% else %}
                      Your Profile
                    {% endif %}
                  </h3>
                </div>
              </div>

              <div class="card-body">
                {% if success %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>Success!</strong> Your profile was updated.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% elif not success and message %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="alert-text"><strong>Oops!</strong> Please fix the errors below.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}

                <form class="row g-3" method="post" action="" novalidate>
                  {{ form.csrf_token }}
                  {{ form.hidden_tag() }}

                  <div class="card-body p-0 my-3">
                    <div class="row">
                      <div class="col-md-6 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>{{ form.username.label }}</label>
                          {{ form.username(type="text", class="form-control text-gray", disabled="true") }}
                        </div>
                      </div>

                      <div class="col-md-6 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>{{ form.is_employee.label }}</label>
                          {% if form.is_employee.data %}
                            {{ form.is_employee(type="text", class="form-control text-gray", value="Yes", disabled="true") }}
                          {% else %}
                            {{ form.is_employee(type="text", class="form-control text-gray", value="No", disabled="true") }}
                          {% endif %}
                        </div>
                      </div>

                      {{ with_errors(form.email, placeholder='Email') }}
                      {{ with_errors(form.full_name, placeholder='Full Name') }}
                      {{ with_errors(form.phone, type="tel", placeholder="555-555-5555") }}
                      {{ with_errors(form.address, placeholder="123 Main Street, Vancouver, BC V1V 1V1") }}
                      {{ with_errors(form.password, placeholder='Password') }}

                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <button type="submit" name="profile" class="btn bg-gradient-primary mt-3 mb-0">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
